



  /*/////////////////////////////////////////////////////////////////////////*/


  
body{
    background-color: #5291cc;
 }
 
 ul{
 background-color:#192e69;
 color:white; 
 list-style-type: none;
 margin: 15px;
 padding: 15px;
 display: flex;
 
 justify-content:center;
 border-radius:10px;
 
 box-shadow: 2px 2px 5px #000000;
 }
 
 footer{
   background-color:#192e69;
 color:white; 
 list-style-type: none;
 margin-left: 15px;
 margin-right: 15px;
 margin-top: 5px;
 margin-bottom: 5px;
 padding: 15px;
 
 
 display:flex;
 
 justify-content:center;
 border-radius:10px;
 
 box-shadow: 2px 2px 5px #000000; 
 }
 
 
 a{
    padding: 50px;
    text-decoration:none;
    font-size: 150%;
 font-family: arial,amaze;
    font-weight:bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 7px #111111;
 }
 
 a:hover{
 color: #FF8C00;
 
 }
 
 main{
 margin: 15px;
 padding: 35px;
 border-radius:10px;
    font-size: 115%;
 opacity: 0.9;
 box-shadow: 2px 2px 20px #000000;
 background-color: #F0FFF0;
 }
 
 .six_month{
    display:flex;
    justify-content: center;
 }
 
 caption{
       background-color:    #8A2BE2;
 padding: 5px;
    color: white;
 
 font-family: ARIAL BLACK;
 }
 
 table{
    padding: 20px;
 text-align: center;
 font-size: 83%;
 border: solid 1px grey;
 background-color:#F0F8FF;
 }
 
 th, td {border: 1px solid grey;padding: 5px;box-shadow: 0.4px 0.4px 4px #000000; border-radius: 8px;}
 
 td{background-color: white;}
 th{background-color: #FFFAF0;}
 
 #Data{
    text-align: center;
    font-size: 120%;
 
 }
 
 td:hover{
    background-color: #9ee9f7;
    color: white;
 border: 1px solid #006400;
    font-weight:bold; 
    cursor: pointer;
 }
 
 .logo {
   display: flex; 
    background-color: #1d182e;
 justify-content: flex-start;
   height: 100px;
 margin: -8px;
 }
 
 .logo > .logo__link {
   margin-left: 20px;
   margin-top: -40px; 
 }
 
 .logo > .logo__headline {
   font-size: 40px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
   color: white;
   margin-top: 30px;
   margin-left: -10px;
 }
 
 .Form_Data{
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
 }
 .clockpage
 {
   margin-left: auto;
   margin-right: 23px;
     margin-top:10px;
     margin-bottom: 10px;
     background: white;
     text-align: center;
     font-family: 'Titillium Web', sans-serif;
     font-size: 30px;
     padding: 10px;
     font-weight: bold;
     border-top: 10px solid #55c49f;
     border-radius: 5px;
 
 }
 
 #dayOfWeek
 {
     display: block;
    font-size: 20px;
 }
 
 #Data{
 text-align: center;
 }
 
 .INP{
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    background-color: #191970;
    color: white;
 border: solid 3px white;
 box-shadow: 1px 1px 20px #000000;
     border-radius: 15px;
     outline: none;
 }
 
 
 @media only screen and (max-width: 1830px) {
    .calendar, .Form_Data{
       justify-content: center;
       text-align: center;
    }
  .six_month{
     display: inline-table;
    font-size: 150%;
 
 
  }
 #Data{
     font-size: 90%;
     }
     #dayOfWeek{
      font-size: 50%;
    }
 }
 
 @media only screen and (max-width: 950px){
 a{
    font-size: 120%;
 }
 ul{
    display:grid;
    text-align: center;
    justify-content: center;
 }
 }
 
 #calendar{
  border:0px;
  margin: 0 auto;
}
#calendar tbody tr{
  height:40px;
}
#calendar td{ 
  width:80px; 
  border:0px; 
  border:solid 1px #99FF99; 
  font-size:22px; 
  text-align:center;
}
#calendar th{
  background-color:#4DDBFF; 
  border:solid 1px #00CCFF; 
  color:#ffffff;
}
#calendar td.none{
  border:0px;
}

.day{ 
  background-color:#CCFFCC; 
  color:#00B32D;
}
#calendar td.today{
  background-color:#FFFF99; 
  border-color:#FF531A;
}

.event{
   background-color: #8A2BE2;
   color: #191970;
}